@import "tailwindcss";

@layer components {
  .btn { 
    padding: 1rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    &:hover { opacity: 0.9; }
    &:disabled { opacity: 0.5; }
  }
  .input { 
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    width: 100%;
  }
}
